In [245]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("../2019~2023가계지출조사(ing)/2022.csv", encoding="ANSI")

C:\Users\Master\AppData\Local\Temp\ipykernel_4796\4250420385.py:5: DtypeWarning: Columns (62,63,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../2019~2023가계지출조사(ing)/2022.csv", encoding="ANSI")

In [246]:
df= pd.DataFrame(data)
df

,조사연월,가구일련번호,가구구분코드,가구원수,취업인원수,노인가구여부,모자가구여부,맞벌이가구여부,일반가구여부,세대구분코드,...,가계지출_소비지출_기타상품서비스_기타서비스금액구입비,가계지출_비소비지출금액,가계지출_비소비지출_경상조세,가계지출_비소비지출_비경상조세,가계지출_비소비지출_연금기여금,가계지출_비소비지출_사회보장구입비,가계지출_비소비지출_이자비용,가계지출_비소비지출_가구간이전지출금액,가계지출_비소비지출_비영리단체이전지출금액,도시읍면부구분코드
0,202200,1,2,4,1,0,0,0,1,2,...,0,610316,5462,0,253058,260130,0,0,91667,1
1,202200,2,2,2,0,0,0,0,1,2,...,0,58827,7827,0,0,31000,0,0,20000,1
2,202200,3,1,3,2,0,0,1,0,2,...,0,1175323,283360,0,276650,302019,163294,50000,100000,1
3,202200,4,1,2,1,0,0,0,1,2,...,6667,528052,91888,0,112500,169505,12492,100000,41667,1
4,202200,5,1,4,2,0,0,1,0,2,...,14100,1499057,240223,0,221170,243081,0,769583,25000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,202200,12696,2,6,2,0,0,1,0,2,...,0,783940,0,0,54000,41940,513000,175000,0,0
12696,202200,12697,2,2,1,0,0,0,1,2,...,0,203000,0,0,90000,13000,0,100000,0,0
12697,202200,12698,1,4,1,0,0,0,1,3,...,25900,270710,51010,0,0,103700,0,16000,100000,0
12698,202200,12699,2,1,1,1,0,0,0,1,...,0,320000,0,0,0,0,0,320000,0,0
12699,202200,12700,2,2,2,0,0,0,1,2,...,0,178430,0,0,0,178430,0,0,0,0

In [247]:
#열 변수 변경

df.rename(columns={
    '가계지출금액': '전체소비지출',
    '가계지출_소비지출금액': '소비지출',
    '가계지출_소비지출_식료품비주류음료구입비': '식료품음료구입총합',
    '가계지출_소비지출_식료품비주류음료_곡물구입비': '식료품_곡물구입',
    '가계지출_소비지출_식료품비주류음료_곡물가공품구입비': '식료품_곡물가공품구입',
    '가계지출_소비지출_식료품비주류음료_빵떡류구입비': '식료품_빵떡류구입',
    '가계지출_소비지출_식료품비주류음료_육류구입비': '식료품_육류구입',
    '가계지출_소비지출_식료품비주류음료_육류가공품구입비': '식료품_육류가공품구입',
    '가계지출_소비지출_식료품비주류음료_신선수산동물구입비': '식료품_신선수산동물구입',
    '가계지출_소비지출_식료품비주류음료_염건수산동물구입비': '식료품_염건수산동물구입',
    '가계지출_소비지출_식료품비주류음료_기타수산동물가공구입비': '식료품_기타수산동물가공구입',
    '가계지출_소비지출_식료품비주류음료_유제품및알구입비': '식료품_유제품알구입',
    '가계지출_소비지출_식료품비주류음료_유지류구입비': '식료품_유지류구입',
    '가계지출_소비지출_식료품비주류음료_과일가공품구입비': '식료품_과일가공품구입',
    '가계지출_소비지출_식료품비주류음료_채소가공품구입비': '식료품_채소가공품구입',
    '가계지출_소비지출_식료품비주류음료_해조가공품구입비': '식료품_해조가공품구입',
    '가계지출_소비지출_식료품비주류음료_당류과자류구입비': '식료품_당류과자류구입',
    '가계지출_소비지출_식료품비주류음료_조미식품구입비': '식료품_조미식품구입',
    '가계지출_소비지출_식료품비주류음료_기타식품구입비': '식료품_기타식품구입',
    '가계지출_소비지출_식료품비주류음료_커피차구입비': '식료품_커피차구입',
    '가계지출_소비지출_식료품비주류음료_쥬스기타음료구입비': '식료품_쥬스음료구입',
    
    '가계지출_소비지출_주류담배구입비': '주류담배구입총합',
    '가계지출_소비지출_주류담배_주류구입비': '주류구입',
    '가계지출_소비지출_주류담배_담배구입비': '담배구입',
    
    '가계지출_소비지출_의류신발구입비': '의류신발구입총합',
    '가계지출_소비지출_의류신발_직물및외의구입비': '의류신발_직물및외의구입',
    '가계지출_소비지출_의류신발_내의구입비': '의류신발_내의구입',
    '가계지출_소비지출_의류신발_기타의복구입비': '의류신발_기타의복구입',
    '가계지출_소비지출_의류신발_의복관련서비스구입비': '의류신발_의복관련서비스구입',
    '가계지출_소비지출_의류신발_신발구입비': '의류신발_신발구입',
    '가계지출_소비지출_의류신발_신발서비스구입비': '의류신발_신발서비스구입',
    
    '가계지출_소비지출_주거수도광열비': '주거수도광열비총합',
    '가계지출_소비지출_주거수도광열_실제주거비구입비': '주거수도광열_실제주거비구입',
    '가계지출_소비지출_주거수도광열_주택유지수선구입비': '주거수도광열_주택유지수선구입',
    '가계지출_소비지출_주거수도광열_상하수도폐기물처리비': '주거수도광열_상하수도폐기물처리',
    '가계지출_소비지출_주거수도광열_기타주거관련서비스구입비': '주거수도광열_기타주거관련서비스구입',
    '가계지출_소비지출_주거수도광열_연료비구입비': '주거수도광열_연료비구입',
    
    '가계지출_소비지출_가정용품가사서비스이용금액': '가정용품가사서비스이용총합',
    '가계지출_소비지출_가정용품가사서비스_가구조명구입비': '가정용품가사서비스_가구조명구입',
    '가계지출_소비지출_가정용품가사서비스_실내장식구입비': '가정용품가사서비스_실내장식구입',
    '가계지출_소비지출_가정용품가사서비스_가구조명장식서비스이용금액': '가정용품가사서비스_가구조명장식서비스이용',
    '가계지출_소비지출_가정용품가사서비스_가정용섬유구입비': '가정용품가사서비스_가정용섬유구입',
    '가계지출_소비지출_가정용품가사서비스_가전가정용기기구입비': '가정용품가사서비스_가전가정용기기구입',
    '가계지출_소비지출_가정용품가사서비스_가전관련서비스이용금액': '가정용품가사서비스_가전관련서비스이용',
    '가계지출_소비지출_가정용품가사서비스_가사용품구입비': '가정용품가사서비스_가사용품구입',
    '가계지출_소비지출_가정용품가사서비스_가정용공구기타구입비': '가정용품가사서비스_가정용공구기타구입',
    '가계지출_소비지출_가정용품가사서비스_가사소모품구입비': '가정용품가사서비스_가사소모품구입',
    '가계지출_소비지출_가정용품가사서비스_가사서비스금액': '가정용품가사서비스_가사서비스',
    
    '가계지출_소비지출_보건제품구입비': '보건제품구입총합',
    '가계지출_소비지출_보건_의약품구입비': '보건_의약품구입',
    '가계지출_소비지출_보건_의료용소모품구입비': '보건_의료용소모품구입',
    '가계지출_소비지출_보건_보건의료용품기구구입비': '보건_보건의료용품기구구입',
    '가계지출_소비지출_보건_외래의료서비스이용금액': '보건_외래의료서비스이용',
    '가계지출_소비지출_보건_치과서비스이용금액': '보건_치과서비스이용',
    '가계지출_소비지출_보건_기타의료서비스이용금액': '보건_기타의료서비스이용',
    '가계지출_소비지출_보건_입원서비스이용금액': '보건_입원서비스이용',
    
    '가계지출_소비지출_교통비': '교통비총합',
    '가계지출_소비지출_교통_자동차구입비': '교통_자동차구입',
    '가계지출_소비지출_교통_기타운송기구구입비': '교통_기타운송기구구입',
    '가계지출_소비지출_교통_운송기구유지수리비': '교통_운송기구유지수리',
    '가계지출_소비지출_교통_운송기구연료비': '교통_운송기구연료',
    '가계지출_소비지출_교통_기타개인교통서비스이용금액': '교통_기타개인교통서비스이용',
    '가계지출_소비지출_교통_철도운송금액': '교통_철도운송',
    '가계지출_소비지출_교통_육상운송금액': '교통_육상운송',
    '가계지출_소비지출_교통_기타운송금액': '교통_기타운송',
    '가계지출_소비지출_교통_기타교통관련서비스이용금액': '교통_기타교통관련서비스이용',
    
    '가계지출_소비지출_통신비': '통신비총합',
    '가계지출_소비지출_통신_우편서비스이용금액': '통신_우편서비스이용',
    '가계지출_소비지출_통신_통신장비구입비': '통신_통신장비구입',
    '가계지출_소비지출_통신_통신서비스이용금액': '통신_통신서비스이용',
    
    '가계지출_소비지출_오락문화비': '오락문화비총합',
    '가계지출_소비지출_오락문화_영상음향기기구입비': '오락문화_영상음향기기구입',
    '가계지출_소비지출_오락문화_사진광학장비구입비': '오락문화_사진광학장비구입',
    '가계지출_소비지출_오락문화_정보처리장치구입비': '오락문화_정보처리장치구입',
    '가계지출_소비지출_오락문화_기록매체구입비': '오락문화_기록매체구입',
    '가계지출_소비지출_오락문화_영상음향정보기기수리비': '오락문화_영상음향정보기기수리',
    '가계지출_소비지출_오락문화_내구재구입비': '오락문화_내구재구입',
    '가계지출_소비지출_오락문화_악기기구구입비': '오락문화_악기기구구입',
    '가계지출_소비지출_오락문화_오락문화내구재유지수리비': '오락문화_오락문화내구재유지수리',
    '가계지출_소비지출_오락문화_장난감취미용품구입비': '오락문화_장난감취미용품구입',
    '가계지출_소비지출_오락문화_캠핑운동관련용품구입비': '오락문화_캠핑운동관련용품구입',
    '가계지출_소비지출_오락문화_화훼관련용품구입비': '오락문화_화훼관련용품구입',
    '가계지출_소비지출_오락문화_애완동물관련물품구입비': '애완동물_물품구입',
    '가계지출_소비지출_오락문화_화훼애완동물서비스이용금액': '애완동물_서비스이용',
    '가계지출_소비지출_오락문화_운동오락서비스이용금액': '운동오락_서비스이용',
    '가계지출_소비지출_오락문화_문화서비스이용금액': '문화_서비스이용',
    '가계지출_소비지출_오락문화_복권구입비': '복권_구입비',
    '가계지출_소비지출_오락문화_서적구입비': '서적_구입비',
    '가계지출_소비지출_오락문화_기타인쇄물구입비': '인쇄물_구입비',
    '가계지출_소비지출_오락문화_문구구입비': '문구_구입비',
    '가계지출_소비지출_오락문화_단체여행경비': '단체여행_경비'
    
},inplace=True)

In [248]:
df.rename(columns={
    '가계지출_소비지출_교육비': '교육비총합',
    '가계지출_소비지출_교육_정규교육비': '정규교육비',
    '가계지출_소비지출_교육_초등교육비': '초등교육비',
    '가계지출_소비지출_교육_중등교육비': '중등교육비',
    '가계지출_소비지출_교육_고등교육비': '고등교육비',
    '가계지출_소비지출_교육_학원보습교육비': '학원보습교육비',
    '가계지출_소비지출_교육_학생학원교육비': '학생학원교육비',
    '가계지출_소비지출_교육_성인학원비': '성인학원비',
    '가계지출_소비지출_교육_기타교육비': '기타교육비',
    
    '가계지출_소비지출_음식숙박비': '음식숙박비총합',
    '가계지출_소비지출_음식숙박_식대': '식대',
    '가계지출_소비지출_음식숙박_숙박비': '숙박비',
    
    '가계지출_소비지출_기타상품서비스이용금액' : '기타상품서비스이용총합',
    '가계지출_소비지출_기타상품서비스_이미용서비스이용금액': '이미용서비스이용',
    '가계지출_소비지출_기타상품서비스_이미용기기구입비': '이미용기기구입',
    '가계지출_소비지출_기타상품서비스_위생이미용용품구입비': '위생이미용용품구입',
    '가계지출_소비지출_기타상품서비스_시계장신구구입비': '시계장신구구입',
    '가계지출_소비지출_기타상품서비스_기타개인용품구입비': '기타개인용품구입',
    '가계지출_소비지출_기타상품서비스_복지시설비용금액': '복지시설비용',
    '가계지출_소비지출_기타상품서비스_보험료': '보험료',
    '가계지출_소비지출_기타상품서비스_기타금융구입비': '기타금융구입',
    '가계지출_소비지출_기타상품서비스_기타서비스금액구입비' : '기타서비스금액구입',

    
    '가계지출_비소비지출금액': '비소비지출금액총합',
    '가계지출_비소비지출_경상조세': '경상조세',
    '가계지출_비소비지출_비경상조세': '비경상조세',
    '가계지출_비소비지출_연금기여금': '연금기여금',
    '가계지출_비소비지출_사회보장구입비': '사회보장구입비',
    '가계지출_비소비지출_이자비용': '이자비용',
    '가계지출_비소비지출_가구간이전지출금액': '가구간이전지출금액',
    '가계지출_비소비지출_비영리단체이전지출금액': '비영리단체이전지출금액'
},inplace=True)

In [249]:
df

,조사연월,가구일련번호,가구구분코드,가구원수,취업인원수,노인가구여부,모자가구여부,맞벌이가구여부,일반가구여부,세대구분코드,...,기타서비스금액구입,비소비지출금액총합,경상조세,비경상조세,연금기여금,사회보장구입비,이자비용,가구간이전지출금액,비영리단체이전지출금액,도시읍면부구분코드
0,202200,1,2,4,1,0,0,0,1,2,...,0,610316,5462,0,253058,260130,0,0,91667,1
1,202200,2,2,2,0,0,0,0,1,2,...,0,58827,7827,0,0,31000,0,0,20000,1
2,202200,3,1,3,2,0,0,1,0,2,...,0,1175323,283360,0,276650,302019,163294,50000,100000,1
3,202200,4,1,2,1,0,0,0,1,2,...,6667,528052,91888,0,112500,169505,12492,100000,41667,1
4,202200,5,1,4,2,0,0,1,0,2,...,14100,1499057,240223,0,221170,243081,0,769583,25000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,202200,12696,2,6,2,0,0,1,0,2,...,0,783940,0,0,54000,41940,513000,175000,0,0
12696,202200,12697,2,2,1,0,0,0,1,2,...,0,203000,0,0,90000,13000,0,100000,0,0
12697,202200,12698,1,4,1,0,0,0,1,3,...,25900,270710,51010,0,0,103700,0,16000,100000,0
12698,202200,12699,2,1,1,1,0,0,0,1,...,0,320000,0,0,0,0,0,320000,0,0
12699,202200,12700,2,2,2,0,0,0,1,2,...,0,178430,0,0,0,178430,0,0,0,0

전체가구 소득소비 비율(교육)

In [250]:
df['전체소비지출']

0        4722520
1        1367555
2        5161791
3        2628313
4        6000845
          ...
12695    4347442
12696    2232644
12697    3145934
12698     934900
12699     912494
Name: 전체소비지출, Length: 12700, dtype: int64

In [251]:
#전체가구의 소비지출 평균
total_mean = round(df['전체소비지출'].mean(),-3)
total_mean

3358000.0

In [252]:
#전체가구의 교육비총합 평균
edu_mean  = round(df['교육비총합'].mean(),-3)

edu_mean

165000.0

In [253]:
#교육비의 백분율 = (교육비총합 평균(edu_mean) /전체가구의 소비지출평균(total_mean)) * 100
edu_ratio = round(((edu_mean / total_mean) * 100),1)
edu_ratio

4.9

1인가구 소득소비 비율(교육비)

In [254]:
#가구원수가 1인 전체소비지출
df[df['가구원수'] == 1]['전체소비지출']

15       1932165
20       1973752
26        981766
29        558724
30        955259
          ...
12673    1249538
12682     739687
12683     389981
12688    1661966
12698     934900
Name: 전체소비지출, Length: 3853, dtype: int64

In [255]:
#가구원수가 1인 전체소비지출의 총평균

household_1 = round(df[df['가구원수'] == 1]['전체소비지출'].mean(),-3)
household_1

1978000.0

In [256]:
#가구원수가 1인 교육비 총합
df[df['가구원수'] == 1]['교육비총합']

15       13500
20       17500
26           0
29           0
30           0
         ...
12673        0
12682        0
12683        0
12688        0
12698        0
Name: 교육비총합, Length: 3853, dtype: int64

In [257]:
#가구원수가 1인 교육비 총합의 평균

edu_mean_1  = round(df[df['가구원수'] == 1]['교육비총합'].mean(),-3)

edu_mean_1

22000.0

In [258]:
#백분율
edu_ratio = round(((edu_mean_1 / household_1) * 100),1)
edu_ratio

1.1

전체가구 소비소득 비율 (음식숙박)

In [259]:

df[df['가구원수'] == 1]['전체소비지출']

15       1932165
20       1973752
26        981766
29        558724
30        955259
          ...
12673    1249538
12682     739687
12683     389981
12688    1661966
12698     934900
Name: 전체소비지출, Length: 3853, dtype: int64

In [260]:
total_mean = round(df['전체소비지출'].mean(),-3)
total_mean

3358000.0

In [261]:
food_ac_mean  = round(df['음식숙박비총합'].mean(),-3)

food_ac_mean

357000.0

In [262]:
food_ac_ratio = round(((food_ac_mean / total_mean) * 100),1)
food_ac_ratio

10.6

1인가구 소비소득비율(음식숙박)

In [263]:
df[df['가구원수'] == 1]['전체소비지출']

15       1932165
20       1973752
26        981766
29        558724
30        955259
          ...
12673    1249538
12682     739687
12683     389981
12688    1661966
12698     934900
Name: 전체소비지출, Length: 3853, dtype: int64

In [264]:
household_1 = round(df[df['가구원수'] == 1]['전체소비지출'].mean(),-3)
household_1

1978000.0

In [265]:
df[df['가구원수'] == 1]['음식숙박비총합']

15       158702
20       169992
26        97700
29         4750
30         8250
          ...
12673     68083
12682      3000
12683         0
12688    200500
12698     30000
Name: 음식숙박비총합, Length: 3853, dtype: int64

In [266]:
food_ac_mean_1  = round(df[df['가구원수'] == 1]['음식숙박비총합'].mean(),-3)

food_ac_mean_1

241000.0

In [267]:
food_ac_1_ratio = round(((food_ac_mean_1 / household_1) * 100),1)
food_ac_1_ratio

12.2